.work {
    margin-bottom: 124px;
    padding-top: 113px;

    @include respond-to('tablet') {
        margin-bottom: 80px;
    }

    @include respond-to('mobile') {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    &__descr {
        margin: 42px 0 0 0;

        @include respond-to('mobile-s') {
            font-size: 13px;
        }
    }

    &__gallery {
        margin: 98px 0 0 0;

        @include respond-to('tablet') {
            margin-top: 55px;
        }
    }
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-rows: 49.2% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include respond-to('tablet') {
        grid-template-rows: 48.8% 48.8%;
    }

    @include respond-to('mobile') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.work3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
}

.work-comment {
    margin-top: 90px;
    padding-bottom: 30px;
    background-position: 81px 0;
    background-image: url('img/webp/joshua.webp');

    @include respond-to('tablet') {
        background-size: 20%;
    }

    @include respond-to('mobile') {
        padding: 0;
        margin-top: 25px;
        background-image: none;
    }
}

.comment-content {
    padding-top: 31px;

    @include respond-to('tablet') {
        padding-top: 0;
    }
}

.work__underline {
    margin: 0;
}

.works {
    position: relative;

    &:hover {
        & .work-link {
            display: block;
        }
    }
}

.work3 {
    &:hover {
        & .work-link {
            padding-top: 70%;
        }
    }
}

.work-link {
    padding-top: 33%;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, rgba(252, 227, 138, .7), rgba(243, 129, 129, .7)), linear-gradient(to bottom, rgba(149, 225, 211, .7), rgba(149, 225, 211, .7));
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;

    @include respond-to('laptop') {
        height: 99.5%;
    }

    @include respond-to('tablet') {
        padding-top: 25%;
        height: 100%;
    }

    &__title {
        margin: 0;
        padding: 9.5% 0 0 0;
        display: flex;
        flex-direction: column;
        background-image: url('img/photography-white.png');
        background-repeat: no-repeat;
        background-position: 50% 0;

        @include respond-to('laptop') {
            padding: 11.5% 0 0 0;
        }

        @include respond-to('tablet') {
            padding: 16.5% 0 0 0;
        }
    }

    &__descr {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        line-height: 2.4;
        text-transform: capitalize;
    }
}